{{> head}}
{{> navbar  }}

<div class="row">
    <div class="col-8">
        <h1>Kinich</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa ab aut perferendis est reprehenderit optio sequi officia sed, ipsam sapiente sunt, vel voluptate quisquam molestias fugiat corporis odio? Veritatis, consectetur?</p>
    </div>
    <div class="col-4">
        
    </div>  
</div>

{{> footer}}